{% extends 'Home/base.html' %}
{% load static %}

{% block body %}

<div class="page-wrapper">
    <div class="content container-fluid">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Teacher Dashboard</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                        <li class="breadcrumb-item active">Teacher</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->

        <!-- Dashboard Stats -->
        <div class="row">
            <div class="col-md-6 col-sm-6 col-lg-3">
                <div class="dash-widget">
                    <div class="dash-widget-info">
                        <h3>{{ total_students }}</h3>
                        <span>Students</span>
                    </div>
                    <div class="dash-widget-icon">
                        <i class="fa fa-users"></i>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-lg-3">
                <div class="dash-widget">
                    <div class="dash-widget-info">
                        <h3>{{ total_subjects }}</h3>
                        <span>Subjects</span>
                    </div>
                    <div class="dash-widget-icon">
                        <i class="fa fa-book"></i>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-lg-3">
                <div class="dash-widget">
                    <div class="dash-widget-info">
                        <h3>{{ total_exams }}</h3>
                        <span>Exams</span>
                    </div>
                    <div class="dash-widget-icon">
                        <i class="fa fa-tasks"></i>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-lg-3">
                <div class="dash-widget">
                    <div class="dash-widget-info">
                        <h3>{{ total_timetable }}</h3>
                        <span>Timetable Entries</span>
                    </div>
                    <div class="dash-widget-icon">
                        <i class="fa fa-envelope"></i>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Dashboard Stats -->

        <!-- Students Table -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Recent Students</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover mb-0">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Course</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for student in recent_students %}
                                    <tr>
                                        <td>{{ student.user.first_name }} {{ student.user.last_name }}</td>
                                        <td>{{ student.user.email }}</td>
                                        <td>-</td>
                                        <td>
                                            <span class="badge badge-success">Active</span>
                                        </td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="4">No students found.</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Students Table -->

    </div>
</div>

{% endblock %}